* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

/* ESCENA */
#escena {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* CIELO */
#cielo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/img/cielo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: -1;
}

/* MONTAÑAS */
#montanas {
  position: absolute;
  bottom: 350px;
  left: 0;
  width: 100%;
  z-index: 1;
}

#montanas img {
  width: 100%;
  height: auto;
  display: block;
  transform: scale(0.92);  
  transform-origin: bottom center;
  filter: brightness(0.94) saturate(0.95);
}

/* SUELO */
#suelo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

#suelo img {
  width: 100%;
  height: auto;
  display: block;
}

/* CASA */ 
#casa {
  position: absolute;
  bottom: 180px;       
  right: 3%;       
  left: auto;           
  width: 420px;        
  z-index: 4;           
}

#casa img {
  width: 100%;
  height: auto;
  display: block;
}


