body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#escena {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* CIELO */
.cielo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/cielo.png") no-repeat center;
  background-size: cover;
  z-index: 1;
}

/* MONTAÑAS */
.montanas {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: url("../assets/img/montañas.png") no-repeat center bottom;
  background-size: contain;
  z-index: 2;
}

/* SUELO */
.suelo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: url("../assets/img/suelo.png") no-repeat center bottom;
  background-size: contain;
  z-index: 3;
}


