* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

/* ESCENA */
#escena {
  position: relative;
  width: 100vw;
  height: 100vh;
}


/* CIELO */
#cielo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/cielo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: 0;
}

}

/* MONTAÑAS */
#montanas {
  position: absolute;
  bottom: 280px;
  left: 0;
  width: 100%;
  height: 260px;

  background-image: url("../assets/img/montanas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  filter: brightness(0.94) saturate(0.95);
  z-index: 1;
}

 /* PIEDRA */
    #piedra {
     position: absolute;
     bottom: 110px;          
     left: 89%;             
     width: 140px;           
     height: 94px;
     background-image: url("../assets/img/piedra.png");
     background-repeat: no-repeat;
     background-size: 280px 94px;
     background-position: 0 0;
     cursor: pointer;
     z-index: 4;
   }
 /* 🕷️ ARAÑA */
   #arania {
    position: absolute;
    bottom: 110px;          
    left: 89%;              
    transform: translateX(-50%);

    width: 192px;
    height: 160px;

    background-image: url("../assets/img/arania_base.png");
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0;             
    pointer-events: none;   
    z-index: 6;             
   }


/* SUELO */
#suelo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

#suelo img {
  width: 100%;
  height: auto;
  display: block;
}

/* CASA */ 
#casa {
  position: absolute;
  bottom: 220px;       
  right: 6%;       
  left: auto;           
  width: 420px;        
  z-index: 4;           
}

#casa img {
  width: 100%;
  height: auto;
  display: block;
}

 /* 🔥 FOGATA */
    #fogata {
  position: absolute;
  bottom: 120px;      
  left: 50%;
  transform: translateX(-50%);
  width: 200px;      
  height: 200px;
  z-index: 5;
  pointer-events: none;
}

    #fogata .fuego {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/fogata.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  animation: fuego 1s steps(6) infinite;
}
    
    @keyframes fuego {
  from { background-position: 0 0; }
  to   { background-position: -1200px 0; } /* 200 x 6 */
}


